<form [formGroup]="stepperForm" (ngSubmit)="addEmployee()">
  <div *ngIf=" (index == 0) ">
    <h2>Step 1</h2>
    <div formGroupName="stepOne">
      <div class="form-group">
	 <label for="">Fullname  <span class="danger"  *ngIf="fullname.invalid" >*</span> </label>
        <input type="text" formControlName="fullname"  [ngClass]="fullname.invalid ? 'control-danger' : 'control-success' "   >
    		    <p>
      			<small class="danger" *ngIf="fullname.value =='' "   >this feild is required</small>
    		    </p>
      </div>
      <div class="form-group">
        <label for="">Email<span class="danger"  *ngIf="email.invalid" >*</span> </label>
        <input type="email" formControlName="email"  [ngClass]="email.invalid ? 'control-danger' : 'control-success' " >
    		    <p>
      			<small class="danger" *ngIf="email.value =='' "   >this feild is required</small>
    		    </p>
      </div>
    </div>
  </div>
  <div *ngIf=" (index == 1) ">
    <h2>Step 2</h2>
    <div formGroupName="stepTwo">
      <div class="form-group">
        <label for="">Code <span class="danger"  *ngIf="code.invalid" >*</span>  </label>
        <input type="text" formControlName="code" [ngClass]="code.invalid ? 'control-danger' : 'control-success' "  >
    		    <p>
      			<small class="danger" *ngIf="code.value =='' "   >this feild is required</small>
    		    </p>
      </div>
      <div class="form-group">
        <label for="">City<span class="danger"  *ngIf="city.invalid" >*</span> </label>
        <input type="text" formControlName="city" [ngClass]="city.invalid ? 'control-danger' : 'control-success' "  >
    		    <p>
      			<small class="danger" *ngIf="city.value =='' "   >this feild is required</small>
    		    </p>
      </div>
      <div class="form-group">
        <label for="">Address<span class="danger"  *ngIf="address.invalid" >*</span>  </label> 
        <input type="text" formControlName="address"  [ngClass]="address.invalid ? 'control-danger' : 'control-success' " >
    		    <p>
      			<small class="danger" *ngIf="address.value =='' "   >this feild is required</small>
    		    </p>
      </div>
    </div>
    <button type="Submit"  [disabled]= " !stepperForm.valid" >Add</button>
  </div>
 
</form>


<button (click)="previous()" [disabled]="!stepTwo.valid">previous</button> <button (click)="next()" [disabled]="!stepOne.valid">next</button>
